html {
    background-color: rgb(161, 187, 242);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    word-wrap: break-word;
  }
  
h1 {
  color: rgb(234, 217, 65);
  -webkit-text-stroke: 1px rgb(238, 72, 72);
  font-size: min(10vh, 10vw);
}

p {
  font-size: min(5vh, 5vw);
}

.menu_button{
  position: absolute;
  z-index: 100;
  width: min(14vw, 14vh); 
  height: min(7vw, 7vh);
  border-radius: 25px;
  border: 2.5px solid black;
  top: min(1vw, 1vh);
  right: min(1vw, 1vh);
  background-color: white;
  color: black;
  font-size: min(3vh, 3vw);
}